div{
	background: #272222;
	margin-bottom: 0;
}


#img-place{
	height: 90vh;/*608px;*/
	padding-top: 1px;
	overflow: auto;
}

#img-place img{
	display: block;
 	margin-left: auto;
    margin-right: auto;
}

.flower{
	transform: scale(.9,.9);
	object-fit: contain;
	height: 100vh;
	width: 100vh;
}

img{
	box-shadow: 10px 5px 5px black;
}

button{
	width: 100px;
	border: 5px solid;
}

#grid-layout, #column-layout{
	width: 170px;
}

#buttons{
	border-bottom: 4px solid;
}

#timer-control{
	width: 200px;
	border: 5px solid;
	font-size: 20px;
	padding: 9px 1px 9px 1px;
}

#left{
	margin-left: 70%;
}

#right{
	margin-right: 70%;
}

#gallery{
	border: 4px solid;
	height: 100vh;/*660px;*/
	overflow: auto;
	border-left: 2px solid;
}