#img-place{
	margin-top: 4%;
	padding-left: 10%;
	padding-right: 10%;	
}

.buttons{
	padding-top: 20%;
}

img{
	object-fit: contain;
	box-shadow: 10px 5px 5px black;	
}

button{
	width: 100px;
	border: 5px solid;
}

#left{
	margin-left: 60%;
}

#right{
	margin-right: 60%;
}