#img-place{
	
	border: 1px solid;
	margin-top: 80px;
	/*padding-left: 10%;
	padding-right: 10%;*/
	
}

img{
	/*object-fit: contain;*/
	/*yellow*/
	width: 400px;
  	height: 400px;

  	/*else*/
  	/*width: 800px;
  	height: 600px;*/

	
	
}

button{
	margin-top: 80px;
}